<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{{pageTitle}}</title>
</head>
<body>
{{> header}}
<main>
	<p>Suspendisse malesuada turpis vel mi laoreet sit amet auctor orci posuere. Vestibulum suscipit iaculis tellus et faucibus. Ut ac laoreet sem. Donec mattis, odio ut molestie mattis, urna turpis posuere nisi, ut lacinia nunc mauris in eros. Nulla facilisi. Suspendisse porttitor quam vel metus facilisis a accumsan dolor accumsan. Nulla vehicula est eu libero sollicitudin facilisis. Vivamus sit amet quam sit amet justo vestibulum vulputate.</p>
</main>
{{> footer}}
</body>
</html>